
<%= render 'posts/header', user:@user %>

<main class="main">

		<h2 class="txtm txtbold mobile_fixed_head">Home</h2>
		<div class="mobile_head"></div>
			<% @posts.each do |post| %>
			<%= link_to post_path(post.id) do %>
			<div class="box posts">
					<div class="user_icon">
						<%= attachment_image_tag post.user, :profile_image, :fill,1000,1000, fallback:"logo.png",  class:"user_img"%>
					</div>
					<div class="user_name">
						<p class="txts txtbold black"><%= post.user.name %></p>
						<p class="txts gray">@<%= post.user.id %></p>
						<p class="txts body_txt black"><%= post.body %></p>
						 <%= attachment_image_tag post, :image, class:"post_img"%>
						<div class="index_post_info">
							<a href="" class="txtxs gray comments">
								<%= fa_icon 'comment', class:"fa-fw" %><%= post.post_comments.count %>
							</a>
							<% if post.liked_by?(current_user) %>
	    						<%= link_to post_likes_path(post.id), method: :delete, class:"txtxs gray likes" do %>
	    							<%= fa_icon 'heart', class:"fa-fw", style:"color: #f21d99;" %><%= post.likes.count %>
	    						<% end %>
							<% else %>
	    						<%= link_to post_likes_path(post.id), method: :post, class:"txtxs gray likes" do %>
	    							<%= fa_icon 'heart', class:"fa-fw" %><%= post.likes.count %>
	    						<% end %>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
			<% end %>
	</main>

<%= render 'posts/aside', user:@user %>